body{
    background-color: #ccc5b9;
    margin: 0;
    padding: 0;


}

header{
    background-color: #eb5e28;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    


}

main{
    background-color: #eb5e28;
    height: 500px;
    padding: 15px;
    margin: 10px;

}